$font-path: "../assets/fonts";
$app-direction: ltr;


@import "ionic.globals";

$colors: (
  primary:    #0D58A6,
  secondary:  #00AA72,
  danger:     #FF5600,
  light: #25f42d,
  dark:       #222,
  favorite:   rgb(216, 200, 29),
  unfavorite: rgb(43, 8, 71)
);

@import "ionic.theme.default";
@import "ionic.ionicons";
@import "roboto";
@import "noto-sans";

